.toolbar{
    display: grid !important;
    grid-template-columns: 1fr 1fr;
}
.header-txt{
    justify-self: left !important;
}
.basket{
 justify-self: right !important;
}
.main-table {
    margin-top: 50px;
}

img {
    width: 100px;
    height: 100px;
}
.add-inputs{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.input{
    margin-right: 20px !important;
}
.add {
    margin-bottom: 80px;
}
.basket-list {
    width: 35%;
    position: absolute;
    top: 80px;
    right: 0px;
    border: 1px solid rgb(201, 201, 201);
    border-radius: 5px;
    box-sizing: border-box;
    z-index: 3;
    padding-top: 10px;
}

@media (min-width: 1200px){
    .container{
        width: 80%;
        margin: 0 auto;
    }
    .basket-list{
        right: 10%;
    }
}
.main {
    display: grid;
    grid-template-columns: 5fr 1fr;
}
.ad{
    border: 1px solid #2a2a2a;
    border-radius: 8px;
    height: 400px;
    margin: 10px;
    background-image: url('ad.png');
    background-position: center;
    background-repeat: no-repeat;
}
.footer{
    position: fixed;
    bottom: 10px;
    width: 80%;
    align-items: center;
}
.fotterBar {
    justify-content: center !important;
    text-align: center !important;
}
.copy {
    justify-self: center !important;
}