body {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    background-color: #d4d8dd;
}
a {
    text-decoration: none;
    color: white
}
.navbar{
    height: 50px;
    background-color: #708090;
    display: flex;
    align-items: center;
    color: #FFD300;
}
.logo{
    font-family: 'Bangers', cursive;
    margin-left: 25px;
    font-size: 2em;
    letter-spacing: 3px;
    color: #FFD300;
}
.logo:hover{
    cursor: pointer;
}
.menu-items{
    display: flex;
    margin-left: auto;
}
.nav-item{
    padding-right: 8px;
    display: flex;
    align-items: center;
    margin-left: 12px;
    margin-right: 12px;
}
.nav-item:hover{
    cursor: pointer;
}
.button{
    background-color: #FFD300 !important;
}
.buttonP{
    background-color: #708090 !important;
}
.home-container {
    margin: 0 auto;
    width: 60%;
}
.navigation {
    background-color: #d4d8dd;
    padding-bottom: 40px;
}
.MuiFormLabel-root {
    color: #505050 !important;
}
.MuiInput-underline::after {
    border-color: #708090 !important;
}
.search{
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid #FFD300;
}
.search-input{
    margin-right: 50px;
}
.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.avatar {
    background-color: #708090 !important;
}
.category {
    flex-basis: 30%;
    display: flex;
    align-items: center;
    margin-top: 30px;
}
.category:hover{
    cursor: pointer;
    color: #FFD300;
}
.new-offers {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 40px;
}
.new-offers h2 {
    font-weight: 400;
}
.new-offers-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    text-align: center;
    padding: 20px 30px;
    margin-bottom: 20px;
}
.new-offer{
    background-color: #708090;
    border-radius: 6px;
}
.new-offer:hover{
    cursor: pointer;
    transform: scale(1.02);
}
.new-offer p:first-of-type{
    margin-top: 5px;
}
.new-offer p:first-of-type {
    margin: 0px;
}
.new-offer p {
    padding: 5px;
    margin: 0px;
    background-color: #FFD300;
}
.new-offer-img {
    margin: 0px;
    padding: 0px;
    height: 200px;
    margin: 0 auto;
    background-position: center;
    background-size: cover;
}
.new-offer-img img {
    width: 100%;
    height: 100%;
}
@media (min-width: 1200px){
    /* .container {
        width: 80%;
        margin: 0 auto;
    } */
}
ul{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    margin-left: 40px;
}
ul li:hover {
    cursor: pointer;
    color: #FFD300;
}
.footer {
    background-color: #708090;
    padding-top: 10px;
    padding-bottom: 10px;
}
.footer-navigation {
    width: 60%;
    margin: 0 auto;
    border-top: 2px solid #FFD300;
    border-bottom: 2px solid #FFD300;
    padding-bottom: 20px;
    padding-top: 20px;
    display: flex;
}
.copyRight {
    text-align: center;
}
.product-buttons {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 40px;
    padding: 5px;
}
.product-buttons div:nth-of-type(2){
    justify-self: center;
    align-self: center;
}
.product-buttons div:last-of-type{
    justify-self: end;
}
.product {
    width: 60%;
    margin: 0 auto;
    margin-top: 10px;
    background-color: white;
}
.product-img {
    margin: 0 auto;
    width: 100%;
}
.product-img img{
    width: 100%;
    height: 100%;
}
.product-title {
    font-size: 28px;
    margin-top: 10px;
    margin-left: 30px;
    font-weight: 600;
    margin-bottom: 5px;
}
.product-price-buy{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: 2px solid #FFD300;
    margin: 0px 30px;
}
.product-price{
    font-family: 'Bangers', cursive;
    font-size: 2em;
    margin-right: 20px;
    padding: 5px;
}
.product-info {
    display: flex;
    margin: 0px 30px;
    justify-content: space-evenly;
    border-bottom: 2px solid #FFD300;
    letter-spacing: 1px;
    font-size: 18px;
}
.advert{
    background-color: #708090;
    margin: 0px 30px;
    height: 180px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    line-height: 180px;
    font-size: 28px;
}
.description {
    border-top: 2px solid #FFD300;
    margin: 0px 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 40px;
}

.similar-offers{
    background-color: white;
    margin: 0px;
    padding-left: 30px;
    font-weight: 400;
}
.basket-container {
    width: 80%;
    margin: 0 auto;
}

.basket-main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1.5em;

}
.basket-item-container {
    display: flex;
    align-items: center;
    background-color: white;
    margin-bottom: 20px;
    padding: 5px;
}
.basket-item {
    
width: 100%;
}
.basket-item-alienor {
    font-weight: 400;
    margin: 0px;
    padding: 15px;
}
.basket-item-flex {
    display: flex;
    align-items: center;
}

.basket-item-image {
    margin: 0px;
    height: 120px;
    width: 120px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 15px;
    margin-top: 0px;
}
.basket-item-amount {
    margin-left: auto;
    margin-right: 10px;
}
.basket-item-price {
    font-weight: 800;
    font-size: 20px;
    margin: 0px 10px;
}
.basket-item-name-status p{
    margin: 10px 0px;
}
.basket-item-name {
    font-weight: 400;
    font-size: 32px;
    margin: 0px;
    margin-right: 150px;
}
.basket-buy {
    background-color: white;
    margin-bottom: 20px;
    height: 197px;
}
.basket-buy-amount {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 0px 10px;
    margin-top: 15px;
}
.basket-buy-amount p {
    margin: 0px;
}
.basket-buy-amount h2 {
    justify-self: end;
    margin: 0px;
}
.basket-buy-amount span {
    justify-self: end;
}
.basket-buy-button {
    display: grid;
    justify-items: center;
    margin-top: 20px;
}
.basket-buy-button button {
    width: 90%;
}
.basket-buy-discount{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    font-size: 19px;
    letter-spacing: 2px;
}
.basket-buy-discount a {
    color: 	#1E90FF;
}
.basket-buy-discount a:hover {
    cursor: pointer;
}


.header-txt{
    justify-self: left !important;
}
.main-table {
    margin-top: 50px;
}
img {
    width: 100px;
    height: 100px;
}
.add-inputs{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.input{
    margin-right: 20px !important;
}
.add {
    margin-bottom: 80px;
}
.basket-list {
    width: 35%;
    position: absolute;
    top: 50px;
    right: 0px;
    border: 1px solid rgb(201, 201, 201);
    border-radius: 5px;
    box-sizing: border-box;
    z-index: 3 !important;
    padding-top: 10px;
    background-color: white;
}
