body {
    margin: 0px;
}
a {
    text-decoration: none;
    color: white
}
.toolbar{
    display: grid !important;
    grid-template-columns: 160px 70px 70px 1fr;
}
.header-txt{
    justify-self: left !important;
}
.basket{
 justify-self: right !important;
}
.main-table {
    margin-top: 50px;
}

img {
    width: 100px;
    height: 100px;
}
.add-inputs{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.input{
    margin-right: 20px !important;
}
.add {
    margin-bottom: 80px;
}
.basket-list {
    width: 35%;
    position: absolute;
    top: 80px;
    right: 0px;
    border: 1px solid rgb(201, 201, 201);
    border-radius: 5px;
    box-sizing: border-box;
    z-index: 3;
    padding-top: 10px;
}

@media (min-width: 1200px){
    .basket-list{
        right: 10%;
    }
}
.main {
    display: grid;
    grid-template-columns: 5fr 1fr;
    padding: 10px;
}
.slider{
    height: 300px;
    width: 80%;
    margin: 0 auto;
}
.ad1{
    padding-top: 10px;
    height: 100%;
    width: 100%;
    background-image: url('promocja_baner.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    text-shadow: red 0.08em 0.08em 0.3em
}
.ad2{
    background-image: url('konk.jpg');
}
.ad{
    border: 1px solid #2a2a2a;
    border-radius: 8px;
    height: 400px;
    margin: 10px;
    background-image: url('ad.png');
    background-position: center;
    background-repeat: no-repeat;
}
.footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    align-items: center;
}
.fotterBar {
    justify-content: center !important;
    text-align: center !important;
}
.copy {
    justify-self: center !important;
}

.about {
    padding-bottom: 15px;
    padding-top: 20px;
    letter-spacing: 3px !important;
}
.about-txt {
    padding-bottom: 20px;
}

.new-title{
    padding-top: 20px;
}
.home-img {
    width: 250px;
    height: 150px;
}

.new-products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 60px;
}